/*************************************************/
/*               image sizing tools              */
/*************************************************/
.quarter{
  width: 24%;
}
.smallThird{
  width: 30%;
}
.third{
  width: 33%;
}
.smallHalf{
  width: 40%;
}
.half{
  width: 49%;
}
.smallFull{
  width:90%;
}
.full{
  width:100%;
}
.svgIcon{
  height:60px;
}