
/* header title */
.header {
  height: 120px;
}

.titleBox{
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 75px;
  line-height: 50px;
}

.titleBoxShort{
  background-color: black;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

/*title height adjustment for <a> weirdness*/
.adjust{
  height: 54px;
}

/* header navigation */
.linksContainer {
  width: 100%;
  text-align: right;
}

.innerLinkContainer{
  display: inline-block;
  width: 340px;
  text-align: right;  
}