/*************************************************/
/*                   tools                       */
/*************************************************/

/* thin outline to show container elements */
.outline {
  border:1px solid black;
}

/* tool to centralise multiple images */
.container{
  text-align: center;
}

/* tool to allow for inline-block text image controls */
.stacker{
  display: inline-block;
}

/* generally useful text aligners */
.leftText{
  text-align: left;
}
.rightText{
  text-align: right;
}

hr.style-1 {
  height: 0;
  border: 0.5px solid rgb(0, 0, 0);
}

hr.style-2 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border: 1px solid black;
}

/* tool to centralise 1 image wide */
.centralise {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90%;
}