
/*************************************************/
/*      universal rules to generally apply       */
/*************************************************/

body{
  margin: 0;
  padding: 0;
  font-family:'apercu';
  overflow-x: hidden;
}

/* links */
a, a {
  color: grey;
  text-decoration: none; 
}

/* focus (mouse hover) */
a:hover,
a:focus{
  color: black;
  text-decoration: none;
}

/*************************************************/
/*                   tools                       */
/*************************************************/

/* thin outline to show container elements */
.outline {
  border:1px solid black;
}

/* tool to centralise multiple images */
.container{
  text-align: center;
}

/* tool to allow for inline-block text image controls */
.stacker{
  display: inline-block;
}

/* generally useful text aligners */
.leftText{
  text-align: left;
}
.rightText{
  text-align: right;
}

/* tool to centralise 1 image wide */
.centralise {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90%;
}

/*************************************************/
/*               titling formatting              */
/*************************************************/

/* header title */
.header {
  height: 80px;
}

.titleBox{
  display: inline-block;
  text-align: left;
  width: 360px;
  height: 50px;
  line-height: 50px;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  font-color: black;
}

/* header navigation */
.linksContainer {
  width: 100%;
  text-align: right;
}

.homelinks {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 300;
}

.highlight{
  color: black;
}

/* captions for homepage images */

.caption{
  height: 50px;
  letter-spacing: 4px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-weight: 100;
}


/*************************************************/
/* breather margins for image pages that need it */
/*************************************************/
.topMargin {
  margin-top: 1.5%;
}
.bottomMargin {
  margin-bottom: 1.5%;
}
.topMargin2 {
  margin-top: 2.5%;
}
.bottomMargin2 {
  margin-bottom: 4.16666%;
}
.rightMargin {
  margin-right: 15px;
}

/* fullpage spacer to leave breathing room for images */
.spacer {
  margin-top: 4.16666%;
  margin-bottom: 4.16666%;
  margin-left: auto;
  margin-right: auto;
  max-width: 83.333333%;
}

/* text */
.text{
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 30;
  text-decoration: none; 
}

/*************************************************/
/*               image sizing tools              */
/*************************************************/
.quarter{
  width: 24%;
}
.smallThird{
  width: 30%;
}
.third{
  width: 33%;
}
.smallHalf{
  width: 40%;
}
.half{
  width: 49%;
}
.smallFull{
  width:90%;
}
.full{
  width:100%;
}


/*************************************************/
/*                     scaling                   */
/*************************************************/

/* phone */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .homelinks{
      width: 100px;
      font-size: 20px;
    }
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
    .portfolioBox{
      width: 350px;
      height: 490px;
    }
    .quarter{
      width: 33%;
    }
    .smallThird{
      width: 40%;
    }
    .third{
      width: 49%;
    }
    .bigPlanet{
      width: 75%;
    }
    .smallHalf{
      width: 80%;
    }
    .half{
      width: 100%;
    }
}

/* vertical tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape){
}

/* horizontal tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait){
}

/* desktop */
@media screen
  and (min-device-width: 1200px){
}

/* widescreen desktop */
@media screen
  and (min-device-width: 1600px){
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 66.666667%;
    }
}

/*************************************************/
/*                    fonts                      */
/*************************************************/

/* ultralight fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuLight/Apercu-Light.woff2') format('woff2'),
        url('assets/fonts/ApercuLight/Apercu-Light.woff') format('woff'),
        url('assets/fonts/ApercuLight/Apercu-Light.ttf') format('truetype'),
        url('assets/fonts/ApercuLight/Apercu-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.woff') format('woff'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* light fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuRegular/Apercu-Regular.woff2') format('woff2'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.woff') format('woff'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.ttf') format('truetype'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuItalic/Apercu-Italic.woff2') format('woff2'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.woff') format('woff'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.ttf') format('truetype'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* medium fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuMedium/Apercu-Medium.woff2') format('woff2'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.woff') format('woff'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.ttf') format('truetype'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.woff') format('woff'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* bold fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuBold/Apercu-Bold.woff2') format('woff2'),
        url('assets/fonts/ApercuBold/Apercu-Bold.woff') format('woff'),
        url('assets/fonts/ApercuBold/Apercu-Bold.ttf') format('truetype'),
        url('assets/fonts/ApercuBold/Apercu-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.woff') format('woff'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}



