
/* rules to generally apply */
body{
  margin: 0;
  padding: 0;
  font-family:'apercu';
  overflow-x: hidden;
}

/* links */
a, a {
  color: grey;
  text-decoration: none; 
}

/* focus (mouse hover) */
a:hover,
a:focus{
  color: black;
  text-decoration: none;
}

.highlight{
  color: black;
}

/* thin outline to show container elements */
.outline {
  border:1px solid black;
}

/* tool to centralise multiple images */
.container{
  text-align: center;
  height: 70px;
}

.leftContainer{
  text-align: left;
}

.rightContainer{
  text-align: right;
}

/* tool to centralise 1 image wide */
.centralise {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img {
  display: inline-block;
}

.centerVideo{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90%;
}

/* tool to shift up navigation bar items */
.shift{
  position:relative;
  top:-100px;
}

/* non-homepage navigation bar styling */
.navigation{
  position:relative;
  height: 100px;
  z-index: 1;
}

/* header navigation spacing */
.margin {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* header navigation colouring*/
.pink{
  background: pink;
}

.paleBlue{
  background: #b7dbd4;
}

.linksContainer {
  width: 300px;
  text-align: right;
}

.title{
  display: inline-block;
  text-align: center;
  width: 360px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  font-weight: 800;
  font-color: black;
}

/* header navigation text*/
.homelinks {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 300;
}

/* breather margins for image pages that need it */
.topMargin {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.topMarginOnly {
  margin-top: 1.5%;
}
.topMargin2 {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.topMarginOnly2 {
  margin-top: 4.16666%;
}
.rightMargin {
  margin-right: 15px;
}

/* breather margins for design portfolio homepage */
.portfolioSpacer {
  margin-top: 4.16666%;
  margin-bottom: 4.16666%;
  margin-left: auto;
  margin-right: auto;
  max-width: 83.333333%;
}

/* portfolio boxes styling */
.portfolioTextTwoline{
  display: inline-block;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width: 160px;
  height: 50px;
  line-height: 25px;
  background: black;

  color: #FFFFFF;
  font-size: 18px;
  text-align:center;
}

/* text */
.text{
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 30;
  text-decoration: none; 
}

/* image sizing tools */
.quarter{
  width: 24%;
}
.smallThird{
  width: 30%;
}
.third{
  width: 33%;
}
.smallHalf{
  width: 40%;
}
.half{
  width: 49%;
}
.smallFull{
  width:90%;
}
.full{
  width:100%;
}

/* background images for portfolio links*/
.estates{
  background-image: url(assets/images/linda);
  background-size: cover;
}
.access{
  background-image: url(assets/images/ofBlood);
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.symbiote{
  background-image: url(assets/images/cathy);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.paraguay{
  background-image: url(assets/images/juliusCaesar);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.planets{
  background-image: url(assets/images/assassins);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* scaling tools for different devices */

/* phone */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .homelinks{
      width: 100px;
      font-size: 20px;
    }
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
    }
    .portfolioBox{
      width: 350px;
      height: 490px;
    }
    .quarter{
      width: 33%;
    }
    .smallThird{
      width: 40%;
    }
    .third{
      width: 49%;
    }
    .bigPlanet{
      width: 75%;
    }
    .smallHalf{
      width: 80%;
    }
    .half{
      width: 100%;
    }
}

/* vertical tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape){
}

/* horizontal tablet */
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait){
}

/* desktop */
@media screen
  and (min-device-width: 1200px){
}

/* widescreen desktop */
@media screen
  and (min-device-width: 1600px){
    .portfolioSpacer {
      margin-top: 4.16666%;
      margin-bottom: 4.16666%;
      margin-left: auto;
      margin-right: auto;
      max-width: 66.666667%;
    }
}

/* fonts */

/* ultralight fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuLight/Apercu-Light.woff2') format('woff2'),
        url('assets/fonts/ApercuLight/Apercu-Light.woff') format('woff'),
        url('assets/fonts/ApercuLight/Apercu-Light.ttf') format('truetype'),
        url('assets/fonts/ApercuLight/Apercu-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.woff') format('woff'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuLightItalic/Apercu-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* light fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuRegular/Apercu-Regular.woff2') format('woff2'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.woff') format('woff'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.ttf') format('truetype'),
        url('assets/fonts/ApercuRegular/Apercu-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuItalic/Apercu-Italic.woff2') format('woff2'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.woff') format('woff'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.ttf') format('truetype'),
        url('assets/fonts/ApercuItalic/Apercu-Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* medium fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuMedium/Apercu-Medium.woff2') format('woff2'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.woff') format('woff'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.ttf') format('truetype'),
        url('assets/fonts/ApercuMedium/Apercu-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.woff') format('woff'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuMediumItalic/Apercu-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* bold fonts */
@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuBold/Apercu-Bold.woff2') format('woff2'),
        url('assets/fonts/ApercuBold/Apercu-Bold.woff') format('woff'),
        url('assets/fonts/ApercuBold/Apercu-Bold.ttf') format('truetype'),
        url('assets/fonts/ApercuBold/Apercu-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.woff') format('woff'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/ApercuBoldItalic/Apercu-BoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}



